<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright 2021 Wayne

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<mapper namespace="com.wayne.apihub.dao.DataSourceHbaseDao">
    <resultMap id="hbaseSourceInfoMap" type="com.wayne.apihub.modules.datasource.info.HbaseSourceConf">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="comments" property="comments"/>
        <result column="hbase_site_path" property="hbaseSitePath"/>
        <result column="core_site_path" property="coreSitePath"/>
    </resultMap>
    <insert id="insertHbaseSource" parameterType="com.wayne.apihub.modules.datasource.info.HbaseSourceConf"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO api_hub.data_source_hbase (name,comments,hbase_site_path,core_site_path) VALUES
        (#{hbaseSourceInfo.name,jdbcType=VARCHAR},#{hbaseSourceInfo.comments,jdbcType=VARCHAR},
        #{hbaseSourceInfo.hbaseSitePath,jdbcType=VARCHAR},#{hbaseSourceInfo.coreSitePath,jdbcType=VARCHAR})
    </insert>
    <select id="listHbaseSource" resultMap="hbaseSourceInfoMap">
        SELECT id,name,comments,hbase_site_path,core_site_path FROM api_hub.data_source_hbase ORDER BY id ASC
    </select>
    <select id="getHbaseSourceById" resultMap="hbaseSourceInfoMap" parameterType="java.lang.Long">
        SELECT id,name,comments,hbase_site_path,core_site_path FROM api_hub.data_source_hbase WHERE id = #{id}
    </select>
    <update id="updateHbaseSourceStatus">
        UPDATE api_hub.data_source_hbase
        <set>
            status = #{status}
        </set>
        WHERE id = #{id}
    </update>
</mapper>