<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright 2021 Wayne

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<mapper namespace="com.wayne.apihub.dao.DataApiSqlDao">
    <resultMap id="sqlApiConfMap" type="com.wayne.apihub.modules.dataapi.conf.SqlApiConf">
        <id column="id" property="id"/>
        <result column="data_source_id" property="dataSourceId"/>
        <result column="name" property="name"/>
        <result column="comments" property="comments"/>
        <result column="sql" property="sql"/>
        <result column="page_tag" property="pageTag"/>
        <result column="page_size" property="pageSize"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>
    <resultMap id="sqlParamMap" type="com.wayne.apihub.modules.common.entity.SqlParam">
        <id column="id" property="id"/>
        <result column="api_id" property="apiId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>
    <insert id="insertSqlApi" parameterType="com.wayne.apihub.modules.dataapi.conf.SqlApiConf"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO api_hub.data_api_sql
        (data_source_id,name,comments,sql,page_tag,page_size,status,create_time,create_by) VALUES
        (#{sqlApiConf.dataSourceId,jdbcType=NUMERIC},#{sqlApiConf.name,jdbcType=VARCHAR},#{sqlApiConf.comments,jdbcType=VARCHAR},
        #{sqlApiConf.sql,jdbcType=VARCHAR},#{sqlApiConf.pageTag,jdbcType=VARCHAR},#{sqlApiConf.pageSize,jdbcType=VARCHAR},
        #{sqlApiConf.status,jdbcType=NUMERIC},#{sqlApiConf.createTime,jdbcType=TIMESTAMP},#{sqlApiConf.createBy,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSqlParam" parameterType="com.wayne.apihub.modules.common.entity.SqlParam"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO api_hub.data_api_sql_param (api_id,name,type,description,status,create_time,create_by)
        <foreach collection="paramList" item="param" separator=",">
            (#{param.apiId,jdbcType=NUMERIC},#{param.name,jdbcType=VARCHAR},#{param.type,jdbcType=VARCHAR},#{param.description,jdbcType=VARCHAR},
            #{param.status,jdbcType=NUMERIC},#{param.createTime,jdbcType=TIMESTAMP},#{param.createBy,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="listSqlApi" resultMap="sqlApiConfMap">
        SELECT id,data_source_id,name,comments,sql,page_tag,page_size,status,create_time,create_by
        FROM api_hub.data_api_sql ORDER BY id ASC
    </select>
    <select id="getSqlApiById" resultMap="sqlApiConfMap" parameterType="java.lang.Long">
        SELECT id,data_source_id,name,comments,sql,page_tag,page_size,status,create_time,create_by
        FROM api_hub.data_api_sql WHERE id = #{id}
    </select>
    <select id="listApiParamByApiId" resultMap="sqlParamMap" parameterType="java.lang.Long">
        SELECT id,api_id,name,type,description,status,create_time,create_by FROM api_hub.data_api_sql_param
        WHERE api_id = #{apiId}
    </select>
    <update id="updateSqlApiStatus">
        UPDATE api_hub.data_api_sql
        <set>
            status = #{status}
            update_time = #{updateTime,jdbcType=TIMESTAMP}
            update_by = #{updateBy}
        </set>
        WHERE id = #{id}
    </update>
    <select id="countSqlApiBySourceId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT COUNT(1) FROM api_hub.data_api_sql WHERE data_source_id = #{sourceId} AND status = 1
    </select>
    <delete id="deleteApiParamByApiId" parameterType="java.lang.Long">
        DELETE FROM api_hub.data_api_sql_param WHERE api_id = #{apiId}
    </delete>
</mapper>